<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootservice.mapper.UserPlanMapper">
    <!-- 查询用户及其所有角色 -->
    <resultMap id="UserPlanResultMap" type="UserPlan">
        <result property="startTime" column="start_time" javaType="java.lang.String" />
        <result property="endTime" column="end_time" javaType="java.lang.String" />
        <result property="createdAt" column="created_at" javaType="java.lang.String" />

        <!-- 其他字段映射 -->
    </resultMap>

    <select id="getUserPlanList" parameterType="java.lang.Integer" resultMap="UserPlanResultMap">
        select *
        from user_plan
        where user_plan.userid like #{userid}
    </select>



    <select id="getCityAdCode" parameterType="java.lang.String" resultType="String">
        select adcode
        from cities
        where city_name like #{cityName}
    </select>

    <insert id="addUserPlan" parameterType="com.example.springbootservice.domain.po.UserPlanBean" >
        INSERT INTO user_plan (userid,plan_name, start_time, end_time, location, created_at)
        VALUES (#{userid},#{planName}, #{startTime}, #{endTime}, #{location}, #{createdAt})
    </insert>

</mapper>